/* FONTS */
@font-face {
    font-family: "My Custom Font";
    src: url("Friz Quadrata Bold.otf") format("truetype");
}

/* GLOBAL TAGS */

html{
  overflow:auto;
  	background-image:url(./pictures/1.JPG);
	background-size:100%;
	background-attachment:fixed;

}

html,body{
  display:inline-block;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* CLASSES */
.active
{
	opacity: 0.8;
	text-decoration:underline;
	background-color:#034cc1
}

.center{
	text-align:center;
}

.logo{
	background-color:#034cc1;
	text-align:center;
}

.topbar{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:auto;
	margin:0 auto;
}

.font-main{
	font-family: 'My Custom Font';
	font-weight: 900;
}

.slide_container{
	
}

.mySlides {
	display:none;
	width: 100%;
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}

.w3-badge{
	width:19px;
	height:19px;
	padding:0;
}	

.dim{
	opacity:0.5;
}


.landscape {
	margin:5px 5px 5px 5px;
    height: 120px;
    width: 180px;
}

.tabcontent
{
	opacity:0.8;
	background-color:grey;
	width:800px;
	margin: 0 auto;
	text-align:center;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* IDS */


#current{
	text-decoration:underline;
	color: blue;
}

#menucontents{
	margin:0 auto;
    padding: 0;	
	display:inline-block;
    list-style-type: none;
    overflow: hidden;
}

#menucontents li{
	float: left;
}

#menucontents li a{
    display: block;
    color: white;
	text-align: center;
	padding:14px 40px 16px 40px;
    text-decoration: none;	
}

#menucontents li a:hover{
	opacity:1;
	color:red;
	text-decoration:underline;
}

#underline{
	text-decoration:none;
}

#menu_contents_font{
	color:blue;
}

#main_div{
	width:800px;
	height:400px;
	text-align:center;
	background-color: #696969;
	opacity:0.8;
	margin:0 auto;
}

#order_button{
	margin-top:50px;
	width:200px;
	height:100px;
}

#hidden_div{
	height:50px;
	width:50px;
	margin:0 auto;
}

#main_table{
	padding-top:50px;
	margin:0 auto;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
