/* FONTS */
@font-face {
    font-family: "My Custom Font";
    src: url("Friz Quadrata Bold.otf") format("truetype");
}

/* GLOBAL TAGS */

html{
  overflow:auto;
  background-color:grey;
  background-image:url(b.png);
}

html,body{
  display:inline-block;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* CLASSES */
.center{
	text-align:center;
}

.logo{
	background-color:#034cc1;
	text-align:center;
}

.topbar{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:auto;
	margin:0 auto;
}

.font-main{
	font-family: 'My Custom Font';
	font-weight: 900;
}

.slide_container{
	
}

.mySlides {
	display:none;
	width: 100%;
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}

.w3-badge{
	width:19px;
	height:19px;
	padding:0;
}	

.dim{
	opacity:0.5;
}

.info{
	text-align:center;
	padding-bottom:20px;
}
/* IDS */
#current{
	text-decoration:underline;
}

#menucontents{
	margin:0 auto;
    padding: 0;	
	display:inline-block;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(173, 19, 129);
}

#menucontents li{
	float: left;
}

#menucontents li a{
    display: block;
    color: white;
	text-align: center;
	padding:14px 40px 16px 40px;
    text-decoration: none;	
}

#menucontents li a:hover{
	opacity:1;
	text-decoration:underline;
}

#underline{
	text-decoration:none;
}