/* GLOBAL TAGS */

html{
  overflow:auto;
  background-color:grey;
  background-image:url(b.png);
}

html,body{
  display:inline-block;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* CLASSES */

.current{
  background-color:#386cc1;
}

.center{
	text-align:center;
}

.logo{
	background-color:#034cc1;
	text-align:center;
}

.topbar{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:auto;
	margin:0 auto;
}

.font-main{
	font-family: 'Philosopher';
	font-weight: 900;
}

.info{
	text-align:center;
	padding-bottom:20px;
}

/* IDS */

#menucontents{
	margin:0 auto;
    padding: 0;	
	display:inline-block;
    list-style-type: none;
    overflow: hidden;
    background-color: #6c7687;	
}

#menucontents li{
	float: left;
}

#menucontents li a{
    display: block;
    color: white;
    text-align: center;
	padding:14px 40px 16px 40px;
    text-decoration: none;	
}

#menucontents li a:hover{
	text-decoration:underline;
}